<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dwu.alonealong.dao.mybatis.mapper.FoodOrderMapper">

  <cache />
  
  <select id="getFoodOrder" resultType="FoodOrder">
     SELECT
     	ORDER_ID as orderId,
     	RESERVE_TYPE as reserveType,
    	VISIT_DATE as visitDate,
    	FOOD_ID as foodId,
    	RES_ID as resId
    FROM FOOD_ORDER
    WHERE ORDER_ID = #{orderId}
  </select>
  

  <insert id="insertFoodOrder">
    INSERT INTO FOOD_ORDER (ORDER_ID, RESERVE_TYPE, VISIT_DATE, FOOD_ID, RES_ID)
    VALUES (#{orderId}, #{foodOrder.reserveType}, #{foodOrder.visitDate}, #{foodOrder.foodId}, #{foodOrder.resId})
  </insert>
  
	
	<insert id="insertFoodOrderForTogetherOrder">
    	INSERT INTO FOOD_ORDER (ORDER_ID, RESERVE_TYPE, VISIT_DATE, FOOD_ID, RES_ID)
    	VALUES (#{orderId}, #{reserveType}, #{visitDate}, #{foodId}, #{resId})
  	</insert>
  	
  	
	
</mapper>